@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 35px;
  font-weight: 600;
  /* font-family:'Courier New', Courier, monospace ; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
  /* font-family:Georgia, 'Times New Roman', Times, serif ; */
  /* font-family:monospace ; */
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #118cd9;
}

.menu {
  display: flex;
  align-items: center;
}

.menuBtn {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.menuItem {
  display: flex;
  gap: 47px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem :hover {
  transform: scale(1.1) translateY(+5px);
}

.menuItem a {
  font-size: 20px;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
  color: #118cd9;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

.menuItem a:hover {
  color: #3cd8c8;
}

@media (max-width: 1880px) {

  .navbar {
    margin: 0 5%
  }

}

@media (max-width: 768px) {
  .navbar {
    padding-top: 30px;
    margin: 0 5%;
  }

  .title {
    font-size: 28px;
  }

  .menuBtn {
    display: block;
    z-index: 2;
  }

  .menuItem {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    background-color: white;
    width: 60%;
    height: 100vh;
    padding: 80px 30px;
    gap: 30px;
    transition: 0.3s ease-in-out;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  }

  .menuOpen {
    right: 0;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding-top: 20px;
    margin: 0 4%;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: normal;
  }

  .menuOpen {
    background-color: rgb(23, 18, 61);
    margin: 15px 15px;
    width:fit-content;
    height: fit-content;
    border-radius: 20px;
  }

  .menuItem {
    width: 30%;
    padding: 33px 20px;
  }

  .menuItem a {
    font-size: 18px;
  }
}


